@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

h1.title{
    color: rgb(255, 255, 255);

  }
#logoborg
{
  height: 50px;
}
#login{
  background-image: url("../images/Free-road-wallpaper-hd.jpg");
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#txtreg{
  font-size: 30px;
  color: white;

  font-family: 'Oswald', sans-serif;
  align-items: center;
}
#b1{
  color:white;
  background-color: rgb(0, 26, 255);
  padding-left: 100px;
  padding-right: 100px;
}
#b2{
  color: white;
  background-color: rgb(74, 221, 106);
  padding-left: 105px;
  padding-right: 105px;
}
#b3{
  color: white;
  background-color: red;
}
#boton57{
display: block;
font-size: 50px;
padding-top: 50px;
padding-bottom: 50px;
background-color: rgb(124, 144, 255);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: white;
border: 20px;
border-style: solid;
}
#boton68{
display: block;
font-size: 50px;
padding-top: 50px;
padding-bottom: 50px;
background-color: rgb(145, 255, 123);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: white;
border: 20px;
border-style: solid;
}
.contenedor-turnos{
  padding-left: 15%;
  padding-right: 15%;
}
#loginreg{
  position:absolute;
  min-width: 400px;
  max-width: 400px;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 15px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(1rem);
  border-radius: 5px;
  text-align: center;
}
.modal-body{
  text-align: center;
}
#txt1{
  color: white;
  padding-right: 300px;
}
#vistas{
  background-image: url("../images/BTN68.jfif");
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
